body { margin: 0; padding:0;}

.container { 
  /* margin: 0 auto; */
  padding:10px;
  background-color: aquamarine;
  height:100%;
  width:100%;
}

section .landing {
  margin:0;
  padding:0;
  background-color: gray;
}

section .login { 
  height:100%; 
  margin:0;
  padding:0;
  background-color: gray;
}

.navbar { 
  width:100%;
  background-color: #000000;
  overflow: hidden;
  margin:0;
}

.navbar ul { 
  list-style-type: none;
  float:right;
}

.navbar ul li { 
  float:left;
  padding-right: 20px;
}

.navbar ul li a { 
  color: white;
}