body{font-family:urbane-rounded,sans-serif;margin: 0; padding:0; overflow-x:hidden; height:100%;
}


/* ======================
   DEFAULT FONT STYLES
   ====================== */

h1 {
  font-weight:700;
  font-size:1em;
  font-family: urbane-rounded;
  line-height: normal;
}

h2 { 
  font-weight:700;
  font-size:1.1em;
  font-family: urbane-rounded;
  line-height: 0;
}

p { 
  font-weight:600;
  font-size:1em;
  font-family: urbane-rounded;
}

@media (min-width: 600px) {
  h1 { font-weight:700; font-size:1.5em; }
  h2 { font-weight:700; font-size:1.2em; }
  p  { font-weight:600; font-size:1.2em; }
}


/* ========================
   DEFAULT CONTAINER STYLES
   ======================== */

.container { 
  height:100vh;
  width: 100%;
  margin:0 auto;
}

.fullPage { 
  /* position:absolute; */
  top:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0 auto;
  margin-top:10%;
  width:100%;
  padding-bottom:5%;
  box-sizing: border-box;
}

.margin-reset {
  margin:0;
}

@media (min-width: 600px) {
  .fullPage {margin-top: 4%};

} 

/* ======================
   LANDPAGE HEADER STYLES
   ====================== */

.header { 
  margin:0 auto;
  width:80%;
  text-align: center; 
  padding:40px;
  padding-top:100px;
  padding-bottom:80px;
}
  
.header h1 { 
  color: black;
  line-height: normal;
}

.animation {
  display:inline;
  margin:0;
  padding:0;
  font-size:3em;
}

.animation:before {
  content:'🍻';
  -webkit-animation-name: animation;
  -webkit-animation-duration: 8s;
  animation-name: animation;
  animation-duration: 8s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

@keyframes animation {
  0% {
      content: '🍻';
  }
  25% {
      content: '👨‍🎓';
  }
  50% {
      content: '⚽';
  }
  75% {
      content: '🌳';
  }
  100% {
      content: '🌈';
  }
}

@-webkit-keyframes animation {
  0% {
      content: '🍻';
  }
  25% {
      content: '👨‍🎓';
  }
  50% {
      content: '⚽';
  }
  75% {
      content: '🌳';
  }
  100% {
      content: '🌈';
  }
}

@-moz-keyframes animation {
  0% {
      content: '🍻';
  }
  25% {
      content: '👨‍🎓';
  }
  50% {
      content: '⚽';
  }
  75% {
      content: '🌳';
  }
  100% {
      content: '🌈';
  }
}

.sortDropdown { 
  padding:10px;
  width:40%;
  border: 2px solid #eee;
  border-radius: 10px;
  font-family: urbane-rounded;
  margin-bottom:20px;
  text-transform: capitalize;
}

/* Attempt at fixing capitalisation for cross-browser support */
.sortDropdown::before {
  content:'';
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #a9d6ff 50%);
}

span:hover { 
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #edf6ff 20%);
}

@media (min-width: 600px) {
  .header { width:40%;  }
 }


/* ======================
   GRID STYLES
   ====================== */

.landing-container { 
  max-width: 1200px;
  margin:0 auto;
  padding:20px;
  padding-top:0px;
}

section .grid {
  display: grid;
  grid-gap:1rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 600px) {
  section .grid { grid-template-columns: repeat(3, 1fr); }
}

.uniItem { 
  width:100%;
  height:200px;
  margin:0;
  padding:0;
  border-radius: 20px;
  border: 0px;
  background:white;
  z-index:0;
  position: relative;
  display:block;
  text-align: center;
}

.image { 
  position:abosolute;
  margin:0;
  height:100%;
  width:100%;
  color:white;
  opacity:0.8;
  font-weight:700;
  font-size:1.2em;
  text-shadow: 2px 2px black ;
  font-family:urbane-rounded;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  z-index: 3;
}

.uniItem:hover { 
  /* border: 4px solid #54ADFF; */
  border-radius: 25px;
  background:#54ADFF;
}

.uniItem:hover .image { 
  opacity: 0.6;
}

.first { 
  grid-column: 1 / -2;
}

.ranking {
  background-color:black; 
  padding:0px 10px 0px 10px;
  border-radius: 10px;
  position:absolute;
  top:15px;
  left:15px;
  z-index:5;
  line-height:0;
}

.ranking p { 
  font-family: urbane-rounded;
  color: white;
  font-weight:800;

}

.text { 
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  top:0;
  width:100%;
  height:100%;
  z-index:100;
  background:none;
  text-align:center;
}

.text h1 { 
  color: white;
  text-shadow: 1px 1px 2px black;
  padding-left:10px;
  padding-right:10px;
}

.text p { 
  color: white;
  text-shadow: 1px 1px 2px black;
}

.score { 
  border-radius:20px;
  background-color:black;
  padding-left:20px;
  padding-right:20px;
  padding-top:3px;
  padding-bottom:3px;
}

.score p { 
  text-shadow:none!important;
  font-size:1.3em!important;
  line-height: 0;
}

/* ======================
   OVERLAY STYLES
   ====================== */

.overlay {  
  overflow: hidden;
  position: fixed;
  left:0;
  top:0;
  margin:0;
  background-color:white;
  width:100%;
  border-radius:0px;
  /* border: 2px solid black; */
  height:100%;
  z-index:1000;
  text-align:center;
  padding:20px;
  box-sizing: border-box;
  box-shadow: 0 0 200px 200px rgba(0, 0, 0, 0.2);

}

.overlay .close { float:right; }

.scoresHeader {
  margin-top:50px!important;
  width:100%;
  background:white;
  border-radius:20px;
  height:10%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  /* padding-top:33vh; */
 /* background:none!important; */
}

.scoresHeader img { 
  position: relative;
  transform: translateY(-25%);
  margin:0;
  height:auto;
  width:100%;
  object-fit: fill;
  opacity:0.3;
  z-index:15;
}

.scoresHeader-content { 
  position: absolute;
  display:flex;
  top:0;
  left:0;
  width:100%;
  height:100%;
  /* width:100%;
  height:100%; */
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  z-index:30;
  padding-left:20px;
  padding-right:20px;
  box-sizing: border-box;
}

.scoresHeader-content h1 { 
  color:white;
  line-height:normal;
  font-size: 4vw;
  text-transform: uppercase;
}

.contentContainer { 
  width:100%;
  height:80%;
  margin-top:20px;
  float:none;
  box-sizing: border-box;
  overflow-y:scroll;
  padding-bottom:40px;
}

.frontpageScores {
  width:100%;
  float:none;
}

.total {  
  padding-top:30px;
}

.overlayBottom { 
  display:none;
  position: absolute;
  bottom:0;
  padding-top:30px;
  width:80%;
  margin:0 auto;
}
.overlaySubmit { 
  width:70%;
  margin-top:30px;
}

.margin { 
  margin-top:20px;
  width:100%;
}

@media (min-width:600px) {
  .overlay { top: 10%; left: 10%; height:80%; width:80%;  border-radius:30px; }
}

@media (min-width: 1000px) {
  .scoresHeader {float:left; width:15%; height:100%; margin:0!important;}
  .scoresHeader img { height: 75%; width:auto; transform: translate(-25%, 0%) rotate(-90deg); }
  .scoresHeader h1 { transform:rotate(-90deg)!important; font-size: 2.2vw;}
  .contentContainer { 
    position: relative;
    width:80%; 
    height:100%;
    float:right;
    margin:0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;}
  .frontpageScores {width:90%; margin:0 auto;}
  .overlayBottom {display:block;}
}

