/* ======================
   BUTTON STYLES
   ====================== */

button { 
       background:none;
       padding:5px 15px 5px 15px;
       border:2px solid #17c37b;
       border-radius: 10px;  
       color: #17c37b;
       font-weight:800;
}

button:hover { 
    background:#17c37b;
    color: white;
}

.delete { 
    border:2px solid red!important;
    color:red!important;
}

.delete:hover { 
    background:Red;
    color:white!important;
}
