/* ======================
   UNIVERSITY VIEW STYLES
   ====================== */
.scoresContainer {
    width:80%;
    background:red;
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(2, 0.5fr);
}

.item { 
    /* padding:10px; */
    background:yellow;
    border:2px solid green;
}


   progress {
    border-radius: 2px; 
    width: 40%;
    height: 22px;
    /* margin-left:-11.5%; */
  }
  progress::-webkit-progress-bar {
   background-color: #0091EA;
    border-radius: 2px;
  }
  progress::-webkit-progress-value {
     border-radius: 2px; 
  }
  progress::-moz-progress-bar {
    /* style rules */
  }