/* ======================
   BUTTON STYLES
   ====================== */

.black { 
    background:none;
    padding:7px 15px 7px 15px;
    border:2px solid black;
    border-radius: 10px;  
    font-weight:800;
}

.black:hover { 
    color:white;
    cursor: pointer;
    background:black;
}

.blue {
    background:none;
    padding:7px 15px 7px 15px;
    color: #54ADFF;
    border:2px solid #54ADFF;
    border-radius: 10px;  
    font-weight:800;
}

.blue:hover {
    background: #54ADFF;
    color:white;
    cursor: pointer;
}

.dash {
    position:absolute;
    top:0;
    right:0;
}

.edit {
    margin-right:50px;
}

.top-margin { 
    margin-top:20px;
}


.delete { 
    border:2px solid red!important;
    color:red!important;
}

.delete:hover { 
    background:Red;
    color:white!important;
}

/* ======================
   ALERT STYLES
   ====================== */

.alert {
    position:absolute;
    top:0;
    padding:20px;
    background:grey;
    z-index:1000;
    width:100%;
    text-align:center;
}

.alert-danger {
    background-color: red;
}

.alert-success {
    background-color: green;
}