/* ======================
   BUTTON STYLES
   ====================== */

button { 
       background:none;
       padding:5px 15px 5px 15px;
       border:2px solid black;
       border-radius: 10px;  
       font-weight:800;
}



.delete { 
    border:2px solid red!important;
    color:red!important;
}

.delete:hover { 
    background:Red;
    color:white!important;
}
