/* ======================
   GLOBAL REVIEW FORMAT
   ====================== */

.scoresContainer {
    width:100%;
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(1, 1fr);
    box-sizing: border-box;
}

.item { 
    text-align:left;

    padding:10px;
}

/* Quick fix for submit review button placement */
.full { 
    float:none!important;
    grid-column: 2 / -2;
    transform:translateX(-50px);
}

label { 
    font-size:0.8em;
    font-weight:600;
    margin:0;
    float:none!important;
    word-wrap: break-word;
}


progress[target=_1]::-webkit-progress-value {
    background-color: red;
  }
  
progress[target=_1]::-moz-progress-bar {
    background-color: red;
  }
  
progress[target=_2]::-webkit-progress-value {
    background-color: red;
  }
  
progress[target=_2]::-moz-progress-bar {
    background-color: red;
  }
  
progress[target=_3]::-webkit-progress-value {
    background-color: orange;
  }
  
progress[target=_3]::-moz-progress-bar {
    background-color: orange;
  }
progress[target=_4]::-webkit-progress-value {
    background-color: green;
  }
  
progress[target=_4]::-moz-progress-bar {
    background: green;
  }
progress[target=_5]::-webkit-progress-value {
    background-color: green;
  }
  
progress[target=_5]::-moz-progress-bar{
  background-color: green;
  }

progress {
    border-radius: 20px; 
    border:none;
    width: 50%;
    height: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float:right;
}

progress::-webkit-progress-bar {
   background-color: #eeeeee;
    border-radius: 20px;
}
progress::-webkit-progress-value {
     border-radius: 20px; 
  }
progress::-moz-progress-bar {
    border-radius: 20px;
    -moz-appearance:none;
    box-shadow:none!important;
}

@media (min-width: 600px) {
   .scoresContainer { float:right; width:80%;}
   .label {font-size:0.9em;}
 }

@media (min-width: 1000px) {
    .scoresContainer {grid-template-columns: repeat(2, 0.5fr); grid-row-gap: 0px;grid-column-gap: 0px; }
 }


/* ======================
   SUBMISSION SPECIFIC
   ====================== */
    
.submission {
        margin-top:4%;
        padding:20px;
        border-radius:20px;
        width:80%;
        background:#f4f9f3;
        display: grid;
    }


@media (min-width: 600px) {
       .submission { width:60%;margin-top: 0;}
      } 

.title {
    float:left;
    align-self: flex-start;
}

/* ======================
   SLIDER STYLES
   ====================== */

.default { 
    background-color: #eeeeee;
    -webkit-appearance: none;  /* Override default CSS styles */
    -moz-appearance: none;  /* Override default CSS styles */
    appearance: none;
  }
  
.green { 
    -webkit-appearance: none;  /* Override default CSS styles */
    -moz-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: green;

}
  
.orange { 
    -webkit-appearance: none;  /* Override default CSS styles */
    -moz-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: orange;

}
  
.red { 
    -webkit-appearance: none;  /* Override default CSS styles */
    -moz-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: red;
}

.submission input[type=range] { 
    float:right;
    height:25px;
    border-radius: 10px;
}

.submission input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 16px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }

/* ======================
   DASHBOARD STYLES
   ====================== */

.dashboard {
    position: relative;
    margin-top:11%!important;
    margin:0 auto;
    padding-left:0px;
    padding-right:0px;
    padding-top:20px;
    padding-bottom:20px;
    width:90%;
    max-width:1200px;
    height:100%;
}

.dashboard p { 
    font-size:0.9em;
    line-height: 0.5;
    opacity:0.6;
}

.dashboard h2 {
  font-size:0.9em;
}

.dashboard p, .dashboard h2 { 
    display:inline;
}

.review-section { 
  position: relative;
    margin-top:11%!important;
}  

.viewReview { 
    width:100%;
    padding:0;
    padding-top:10px;
    padding-bottom:10px;
    background:#f4f9f3;
    border-radius:20px;
}

@media (min-width: 600px) {
    .review-section { margin-top:7%!important;}
    .dashboard {margin-top:4%!important; padding-left:20px; padding-right:20px;}
    .submission { width:60%;}
    .viewReview { padding:20px; }
   } 